<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>784556728213-q8q5qujgd8taceisevilceic3mbvge2i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.784556728213-q8q5qujgd8taceisevilceic3mbvge2i</string>
	<key>API_KEY</key>
	<string>AIzaSyBwVLmPYmS3BT_EgwcHiB5exRtfRo69Oqs</string>
	<key>GCM_SENDER_ID</key>
	<string>784556728213</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testAppcheck</string>
	<key>PROJECT_ID</key>
	<string>test-appcheck-v1</string>
	<key>STORAGE_BUCKET</key>
	<string>test-appcheck-v1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784556728213:ios:4454171f2b28e41b5d609c</string>
</dict>
</plist>